*{
    margin: 0;
    padding: 0;
}
:root {
    --blue: #0ea5e9;
    --grey: #a7c1cf;
    --white:#e0f2fe;
    --orange: #df863e;
}
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
body{
    display: grid;
    margin: 0;
    padding: 0 20%;
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 70px 70px 1fr;
    grid-template-areas: 
    "side head"
    "side head"
    "side main";
    background-color:var(--grey);
}

/* HEADER */
.header{
    display: grid;
    grid-area: head;
    background-color: var(--white);
}
.headone{
    display:grid;
    grid-template-columns: 1fr 13fr 1fr 1fr 4fr;
    padding: 2% 0 0 2%;
}
input{
    border-radius: 22px;
    height: 70%;
    width: 88%;
    background-color: var(--grey);
    border: solid 1 px var(--grey);
    padding:0 0 0 12px; /*this is padding on left for search term*/
}
.headtwo{
    display:grid;
    grid-template-columns: 1fr 6fr 8fr;
    margin-left: 2%;
    padding: 0 0%;
}
.headtwo>img{
    padding-top: 8px;
}
.buttons{
    margin-left: auto;
    margin-right: 2%;
}
button{
    background-color: var(--blue);
    border-radius: 15px;
    width: 90px;
    color: white;
    padding: 2%;
    text-align: center;
    font-size: 1.1em;
    border: solid 1 px var(--b);
}

/* SIDEBAR */
.sidebar{
    grid-area: side;
    background-color: var(--blue);
    border: none;
    border-radius: 0;
}
a:hover, button:hover{
    background-color: rgb(70, 93, 134);
}
a:active, button:active{
    background-color:var(--grey);
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#branding{
    margin-top: 25%;
  }
#logo>img{
    width: 2.2rem;
    padding: 20px 5px 0 20px;
}
a{
    text-decoration: none;
    color: white;  
  }
a>img{
    width: 1.1rem;
    padding: 12% 14% 0 16%;
  }

  /* MAIN */
.main{
	display: grid;
    grid-area: main;
    grid-template-columns: 5fr 2fr;
    grid-template-areas:
    "projects right";
    background-color: var(--grey);
    gap: 2%;
    margin: 1%;
}

/* MAIN >> PROJECTS */
.projects{
    display: grid;
    grid-template-rows: 7% 1fr;
}
.title{
    margin: 0;
    padding: 1%;
    color: #212b81;
    font-weight: bolder;
    font-size: larger;
}
.cards{
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(2, 1fr);
}
.projContent{
    background-color: var(--white);
    border-radius: 10px;
    color: #212b81;
    padding: 2%;
}
.icons{
    display: flex;
    justify-content: flex-end;
}
.icons>img{
    width: 1.2rem;
    padding: 1% 0 0 5%;
}

/* MAIN >> RIGHT */
.right{
    display: grid;
    grid-area: right;
    gap: 12px;
    grid-template-rows: 5% 1fr 5% 1fr;
}
.announce, .trending{
    display: grid;
    padding: 0 5%;
    background-color: var(--white);
    border-radius: 10px;
    color: #212b81;
}
.annContent{
    display: flex;
    border-bottom: solid var(--grey) 1px;
}
.trendContent{
    display: flex;
    padding-top: 9px;
}
.annContent:last-child{
    border: none;
}
.smallimg{
    display: grid;
    width: 1.3rem;
    padding: 0 10px;
}
img{
    width: 2.5rem;
}

p{
    padding: 0;
    margin: 2% 0;
}