*{
    margin: 0;
    padding: 0;
}
:root {
    --blue: #4a7488;
    --grey: #a7c1cf;
    --white:#e0f2fe;
    --orange: #df863e;
}
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
body{
    display: grid;
    margin: 0;
    padding: 0 20%;
    background: #000;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
    "side header"
    "side main";
    background-color:var(--grey);
}

/* HEADER */
.header{
    display: grid;
    grid-area: header;
    grid-template-areas: 
    "headOne"
    "headTwo";
    padding: 1%;
    background-color: var(--white);
}
.headone{
    display:grid;
    grid-template-columns: 1fr 13fr 1fr 1fr 4fr;
    grid-area: headOne;
}
.headtwo{
    display:grid;
    grid-template-columns: 1fr 6fr 8fr;
    grid-area: headTwo;
    margin-left: 2%;
}
input{
    border-radius: 22px;
    height: 50%;
    width: 88%;
    display: grid;
    background-color: var(--grey);
    border: solid 1 px var(--grey);
    padding:0 0 0 12px; /*padding on left for search term entered*/
}
.headtwo>div>p{
    font-weight:bolder;
    font-size:larger;
}
.headtwo>img{
    padding-top: 4%;
}
.buttons{
    margin-left: auto;
    margin-right: 2%;
}
button{
    background-color: var(--blue);
    border-radius: 15px;
    width: 90px;
    color: white;
    padding: 2%;
    text-align: center;
    font-size: 1.1em;
    border: solid 1 px var(--b);
}
button:hover{
    background-color: var(--grey);
    cursor: pointer;
}

/* SIDEBAR */
.sidebar{
    grid-area: side;
    background-color: var(--blue);
    border: none;
    border-radius: 0;
}
li:hover{
    background-color: var(--grey);
    cursor: pointer;
}
a:active, button:active{
    background-color:var(--grey);
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li>p{
    padding-left: 44px;
    color: antiquewhite;
}
#branding{
    margin-top: 25%;
}
#logo{
    width: 2.2rem;
    padding: 20px 5px 0 20px;
    color: var(--white);
}
a{
    text-decoration: none;
    color: white;
}
a>img{
    width: 1.1rem;
    padding: 12% 14% 0 16%;
}

  /* MAIN */
.main{
	display: grid;
    grid-area: main;
    grid-template-columns: 5fr 2fr;
    grid-template-areas:
    "projects right";
    background-color: var(--grey);
    gap: 2%;
    margin: 1%;
}

/* MAIN >> PROJECTS */
.projects{
    display: grid;
    grid-area: projects;
    grid-template-areas: 
    "titleProjects"
    "cards";
    grid-template-rows: 4% 1fr;
}
#titleProjects{
    display: grid;
    grid-area: titleProjects;
}
.cards{
    display: grid;
    grid-area: cards;
    gap: 2%;
    grid-template-columns: repeat(2, 1fr);
}
.title{
    align-self:flex-end;
    color: #212b81;
    font-weight: bolder;
    font-size: 1.2rem;
}
.projContent{
    display: grid;
    background-color: var(--white);
    border-radius: 10px;
    color: #212b81;
    padding: 2%;
}
.icons{
    align-self: flex-end;
    margin-left: auto;
}
.icons>img{
    width: 1.2rem;
    padding: 1% 0 0 0;
}
.icons>img:hover{
    cursor: pointer;
    background-color: var(--blue);
}

/* MAIN >> RIGHT */
.right{
    display: grid;
    grid-area: right;
    grid-template-areas:
    "titleA"
    "announce"
    "titleT"
    "trending";
    grid-template-rows: 4% 1fr 4% 1fr;
}
#titleAnnounce{
    grid-area: titleA;
}
#titleTrending{
    grid-area: titleT;
}
.annContent{
    grid-area: announce;
    display: grid;
}
.trendContent{
    display: grid;
    grid-area: trending;
}
.trenditem{
    display: flex;
    flex-direction: row;
    padding: 1% 0;
    align-self: center;
}
.annContent, .trendContent{
    padding: 2% 4%;
    background-color: var(--white);
    border-radius: 10px;
    color: #212b81;
}
.annContent>div>:nth-child(2){
    border-bottom: solid var(--grey) 1px;
}
.annContent>div:last-child>p{
    border-bottom: none;
}
.smallimg{
    display: grid;
    width: 1.3rem;
    padding: 0 10px;
}
img{
    width: 2.5rem;
}
p{
    padding: 0;
}

@media screen and (max-width: 1300px) {
    body{
        padding: 0 10%;
    }
    .headtwo{
        grid-template-columns: 1fr 3fr 12fr;
        margin: 0;
    }
    .headtwo>div>p{
        font-weight:bold;
        font-size:smaller;
    }
    input{
        height: 60%;
    }
}

@media screen and (max-width: 850px) {
    html{
        font-size: 14px;
    }
    body{
        padding: 0;
    }
    .container{
        grid-template-columns: 150px 1fr;
        gap: 0;
    }
    .headtwo{
        grid-template-columns: 1fr;
    }
    button{
        font-size:smaller;
    }
    .headtwo>div>p, .headtwo>img{
        display: none;
    }
    .buttons{
        margin-left:auto;
    }
    .main{
        grid-template-columns: 1fr;
        grid-template-areas:
        "projects"
        "right";
        gap: 0;
    }
    .right{
        grid-template-columns: 3fr 2fr;
        grid-template-rows:12% 1fr;
        grid-template-areas: 
        "titleA titleT"
        "announce trending";
        gap: 2%;
    }
}

@media screen and (max-width: 550px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-areas:
        "sidebar"
        "header"
        "header"
        "main";
    }
    button{
        width: 70px;
        margin-bottom: 2%;
    }
    .sidebar{
        display: grid;
        grid-area: sidebar;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
        "logo top"
        "logo bottom";
        padding-right: 2%;
    }
    .sidebarTop{
        grid-area: top;
    }
    .sidebarBottom{
        grid-area: bottom;
    }
    #logo{
        grid-area: logo;
        padding: 0;
        margin: 3%;}
    #logo>p{
        font-size: .9rem;
    }
    ul>div{
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        margin: 2%;
    }
    li>p{
        display: none;
    }
    .projects{
        grid-template-rows: 1fr;
    }
    .cards{
        grid-template-columns: 1fr;
        gap: 1%;
    }
    .right{
        margin-top:34px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "titleA"
        "announce"
        "titleT"
        "trending";
        gap: 1%;
    }
}